@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #e2e8f0;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
@layer utilities{
  .textHeading{
    @apply text-center font-bold text-4xl pb-[2rem]
  }
  .flexCenter{
    @apply  flex items-center justify-center
  }
  .flexCol{
    @apply flex flex-col
  }
  .hoverButton{
    @apply transition-all ease-linear hover:scale-95
  }
}